:root {
  --primary-font: "Open Sans", sans-serif;
  --light-gray: #d3d3d3;
  --white: #fff;
  --charcoal: #36454f;
  --blue-denim: #6f8faf;
  --yellow-goldenrod: #daa520;
  --box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

::after,
::before, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

.our-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.menu h2 {
  font-size: 32px;
}

.underline {
  display: block;
  background-color: var(--yellow-goldenrod);
  width: 80px;
  height: 4px;
}

.btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 35rem;
  width: 100%;
  padding: 8px;
}

.photo {
  object-fit: cover;
  border: 0.25rem solid var(--yellow-goldenrod);
  border-radius: 8px;
}

.item-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  border-bottom: solid 0.5px var(--charcoal);
  text-transform: capitalize;
}

.item-infos p {
  text-align: start;
}

.price {
  color: var(--yellow-goldenrod);
}

.price::before {
  content: "R$ ";
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
