@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

:root {
  --primary-font: "Open Sans", sans-serif;
  --light-gray: #d3d3d3;
  --white: #fff;
  --charcoal: #36454f;
  --blue-denim: #6f8faf;
  --yellow-goldenrod: #daa520;
  --platinum: #e5e4e2;
  --background-color: #e8ebfc;
  --box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

body {
  padding: 32px;
  color: var(--charcoal);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: center;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 500px;
}

.title {
  font-size: 24px;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  max-width: 30rem;
  width: 100%;
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-header p {
  font-weight: 600;
}

.btn {
  color: var(--yellow-goldenrod);
  border: solid 2px var(--yellow-goldenrod);
  border-radius: 4px;
  font-weight: 600;
  background-color: transparent;
  padding: 4px;
  transition: 500ms;
}

.btn:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--yellow-goldenrod);
}

.plusBtn {
  display: inline;
  transition: 500ms;
}

.minusBtn {
  display: none;
  transition: 500ms;
}

.description {
  text-align: start;
  height: 0;
  overflow: hidden;
  transition: 500ms;
}

.show-text .plusBtn {
  display: none;
}

.show-text .minusBtn {
  display: inline;
}

.show-text .description {
  height: auto;
  border-top: solid 1px var(--charcoal);
  padding-top: 8px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .question {
    width: 30rem;
  }
}

